<section class="about">
    <div class="about-box">
        <p class="header-title"> Basic Information</p>
        <div>
            <table >
                <tr>
                  <td><b>Name</b></td>
                  <td>:</td>
                  <td class="basic-info-detail">Mr. SLIL PUANGPOOM                 
                  </td>
                </tr>
                <tr>
                    <td><b>Nickname</b></td>
                    <td>:</td>
                    <td class="basic-info-detail">BLINK</td>
                </tr>
                <tr>
                    <td><b>Gender </b></td>
                    <td>:</td>
                    <td class="basic-info-detail">Male</td>
                </tr>
                <tr>
                    <td><b>Date of birth</b></td>
                    <td>:</td>
                    <td class="basic-info-detail">12/07/1995</td>
                </tr>
                <tr>
                    <td><b>Nationality</b></td>
                    <td>:</td>
                    <td class="basic-info-detail">Thai</td>
                </tr>
                <tr>
                    <td><b>Phone</b></td>
                    <td>:</td>
                    <td class="basic-info-detail">087-500-6783</td>
                </tr>
                <tr>
                    <td><b>Email</b></td>
                    <td>:</td>
                    <td class="basic-info-detail">slil.puangpoom@gmail.com</td>
                </tr>
                <tr>
                    <td><b>Address</b></td>
                    <td>:</td>
                    <td class="basic-info-detail"> 99/89 Bangkok-Nonthaburi road Bangsue district Bangkok 10800</td>
                </tr>
              </table>
        </div>
    </div>
</section>
