    <header>    
        <div>
            <span><i class="far fa-star"></i>  This is amazing time to code !</span>
        </div>
    </header>
    <section class="main">
        <div class="backdrop">
        </div>
        <div class="main-info">
            <div>
                <img class="main-img-profile"  src="../../../assets/img/profile.jpg">
            </div>
            <div>
                <p class="my-name"><b>SLIL PUANGPOOM</b></p>
                <p class="sub-my-name"><b>Trust me I'm a full stack web developer</b></p>
            </div>
            <div>
                <button class="social-button facebook-btn"> 
                    <a href="https://www.facebook.com/blink.slil" target="_blank">
                        <div class="social-button-text">
                            <i class="fab fa-facebook-f" style="padding-right: 5px;"></i> 
                            <b> FACEBOOK</b>
                        </div>
                    </a>
                </button>                 
                <button class="social-button tel-btn"> 
                    <a href="tel:087-500-6783"></a>
                    <div class="social-button-text">
                        <i class="fas fa-mobile-alt" style="padding-right: 5px;"></i> 
                         <b> 087-500-6783</b>
                    </div>
    
                </button>
            </div>
        </div>
    </section>



