<section class="education">
    <div class="container-box">
        <div class="container-box-title">
            <p class="header-title-edu" > 
                Education
            </p>
        </div>
        <div class="container-box-detail">
            <div class="basic-info-detail">
                <p >{{education.university}}</p>    
                <P >{{education.level}}</P> 
                <p >{{education.from}} - {{education.to}}</p>    
                <p >GPAX {{education.gpax}}</p>   
            </div>   
        </div>
    </div>
</section>
